html{
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(0, 0, 0);
}
p{
  font-size: small;
  font-family: Arial;
}

.container{
  background-color: black;
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  padding: 5em 0;
  padding-left: 10%;
  padding-top: 8%;
  padding-bottom: 8%;
}

button{
  display: flex;
  padding: 10%;
  font: arial;
  color: rgb(255, 255, 255);
  background-color: rgb(21, 26, 83);
  border: 0px;
  margin-left: 10%;
}

button:hover{
  filter: opacity(30%);
}
.schedule{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;   
  font-style: arial;
  color: aliceblue;
}
.UserInformation{
  background-color: rgb(21, 26, 83);
  color: aliceblue;
  border-radius: 1em;
  width: 30%;
  height: 35em;
  margin: 10px;
}
.space{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 30, 225);
  border-radius: 15px;
  width: 100%;
  height: 20em; 
}
.space h1 {
  justify-self: flex-end;
  /* padding: auto; */
  text-align: center;
}

img{
  border-radius: 100%;
  height: 120px;
  width: 120px;
}

.Work{
  background-color: rgb(251, 163, 100);
  border-radius: 15px;
  min-height: 200px;
  position:relative;
  width: 25%;
}

.space1{
  background-color: rgb(21, 26, 83);
  padding: 5%;
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
  margin-top: 70px;
  font-size: x-large;
  font-family: Arial;
  padding: 0.5%;
}

.Play{
  background-color: rgb(115, 184, 245);
  border-radius: 10px;
  min-height: 200px;
  width: 25%;
}

.space2{
  background-color: rgb(21, 26, 83);
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
  margin-top: 55px;
}

.Study{
  background-color: rgb(246, 165, 227);
  border-radius: 10px;
  min-height: 200px;
  width: 25%;
}

.space3{
  background-color: rgb(21, 26, 83);
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
  margin-top: 55px;
}

.Exercise{
  background-color: rgb(170, 254, 182);
  border-radius: 10px;
  min-height: 200px;
  width: 25%;
}

.space4{
  background-color: rgb(21, 26, 83);
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
  margin-top: 55px;
}

.Social{
  background-color: rgb(221, 149, 255);
  border-radius: 10px;
  min-height: 200px;
  width: 25%;
}

.space5{
  background-color: rgb(21, 26, 83);
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
  margin-top: 55px;
}

.SelfCare{
  background-color: rgb(254, 238, 123);
  border-radius: 10px;
  min-height: 200px;
  width: 25%;
}

.space6{
  background-color: rgb(21, 26, 83);
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
  margin-top: 55px;
}
